@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400:500:700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    background: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left , bottom right;

    font-family: 'Spartab', sans-serif;
}
.container{
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}
/* header */
header{
    margin-bottom: 30px;
}
header h1{
    color: hsl(300, 43%, 22%);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 64px 30px 64px;
    animation: updown 1000ms;
}
header p{
    color: hsl(303, 10%, 53%);
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 28px 0 28px;
    animation: downup 1000ms;

}
/* star */
.star-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
   
    
}
.stars{
    background-color: hsl(300, 19%, 81%);
    border-radius: 4px;
    margin:8px 0;
    width: 330px;
    height: 80px;
    padding: 15px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    animation: rightleft 1000ms;
}
.stars .fiveStars{
    min-width: 120px;
    animation: leftright 2000ms;
}
.stars .text{
    min-width: 240px;
    text-align: center;
}
/* card */
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.card{
    background-color: hsl(300,43%,22%);
    border-radius:10px ;
    max-width: 330px;
    height: 250px;
    padding: 37px;
    margin: 16px 24px 0px 24px;
    color: hsl(300,24%,96%);
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    box-shadow: 12px 8px 15px   hsla(333, 70%, 52%, 0.505);
     overflow: hidden;
    animation: leftright  1000ms;
   

}

.card img{
    border-radius: 50%;
    width: 50px;
    margin-right: 20px;
    grid-column: 1/2;
    grid-row: 1/ 3;
    box-shadow: 4px 4px 60px -2px hsl(333,80%,67%) ;
    animation:updown 2400ms;

}
.card .name{
    font-weight: 700;
    grid-column: 2/3;
    animation: leftright 2000ms;

}
.card .state{
    color: hsl(333,80%,67%);
    grid-column: 2/3;
    animation: rightleft 2050ms;

}
.card p{
    font-weight: 500;
    line-height: 20px;
    grid-column:1/3;
    margin-top: 30px;
    animation: downup 2100ms;
    
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* >375px */

@media only screen and (min-width:376px){
     .star-container{
        padding: 0 25px;
    }
     .star1{
        align-self: flex-start;
     }
     .star3{
        align-self: flex-end;
     }
     .card-container{
        padding: 0 14px;
     }
     .card-1{
        align-self: flex-start;
     }
     .card-3{
        align-self: flex-end;
     }
}

/* >768px */

@media only screen and (min-width:768px){
    body{
        background: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat;
        background-position: top left , bottom right;
    }
    .stars{
        flex-direction: row;
        width: 444px;
        height: 50px;
        justify-content: center;

    }

    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card1{
     grid-column:1/2;
     justify-self: center;
    }
    .card2{
        grid-column:2/3;
        justify-self: center;
    }
    .card-3{
        grid-column: 1/3;
        grid-row: 2/3;
        justify-self: center;
    }

}
@media only screen and (min-width:894px){
    .container{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        row-gap:25px;
    }
    header{
        grid-column: 1/6;
    }
    .star-container{
        grid-column: 6/-1;
    }
   .card-container{
    grid-column: 1/-1;
   }
   footer{
    grid-column: 1/-1;
   }
}
@media only screen and ( min-width:1160px){
    body{
        background-size: 580px;
    }
    .container{
        margin:125px auto;
        max-width: 1110px;
    }
    .card-container{
        display: flex;
        flex-direction: row;
        padding: o;
        height: 320px;

    }
    .card{
        margin: 0;
    }
    
}
@media only screen and (min-width:1440px){
    header{
        max-width: 430px;
        margin:0;

    }
    header h1{
        font-size: 45px;
        text-align: left;
        margin: 0;
        line-height: 45px;


       }
    header p{
        text-align: left;
        margin-top: 15px 0 30px 0;
       }
       .star-container{
        grid-column: 7/-1;
        padding: 0;
       }
}

/* animation */
@keyframes updown{
    0%{
        transform:
        translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes downup{
    0%{
        transform:
        translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes leftright{
    0%{
        transform:
        translatex(-500px);
    }
    100%{
        transform: translatex(0px);
    }
}
@keyframes rightleft{
    0%{
        transform:
        translatex(500px);
    }
    100%{
        transform: translatex(0px);
    }
}
